<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
	</startup>
	<system.serviceModel>
		<services>
			<service name="WCFWeBService.WatchfulService">
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/WCFWeBService/WatchfulService/" />
					</baseAddresses>
				</host>
				<!-- Service Endpoints -->
				<endpoint address="" binding="basicHttpBinding" contract="WCFWeBService.IWatchfulService">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<!-- Metadata Endpoints -->
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					<!-- Enable metadata exchange and debugging -->
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>
